body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: #f1f4fc;
  --secondary-background-color: #fff;
  --background-gradient: linear-gradient(45deg, rgba(8, 225, 174, 1) 30%, rgba(152, 222, 91, 1) 100%);
  --primary-accent-color: #08e1ae;
  --primary-font-color: black;
  --secondary-font-color: white;
  --box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  color: var(--secondary-font-color);
  background: var(--background-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 95%;
  background: var(--background-gradient);
  /* border-radius: 0 25px 25px 0; */
  border-radius: 20px;
  margin: 20px 30px;
  padding: 40px 0;
 box-shadow: var(--box-shadow);;
}

.navbar .homeSelect {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
 box-shadow: var(--box-shadow);;
  z-index: 0;
}

.navbar .homeSelect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
  opacity: .5;
  border-radius: 10px;
  z-index: -1;
}

.navbar .homeSelectHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
}

.navbar .homeSelectHeader svg {
  height: 30px;
  margin-left: 15px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  color: var(--secondary-font-color);
  text-decoration: none;
  font-size: 25px;
  padding: 10px 5px;
  border-radius: 10px;
  width: 100%;
  transition: .3s;
}

.navbar ul a:hover:not(a.active){
  opacity: .7;
}

.navbar ul a.active {
  background: var(--secondary-font-color);
  padding: 15px 10px;
  width: 110%;
}


.navbar ul a.active li {
  font-weight: 600;
  background: var(--background-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul a.active svg {
  color: var(--primary-accent-color);
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.navbar ul a:not(:last-child) {
  margin-bottom: 20px;
}

.navbar ul li svg {
  height: 28px;
  margin-right: 20px;
}

.appContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px 15px;
  color: var(--primary-font-color);
}

.tile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--secondary-background-color);
  box-sizing: var(--box-shadow);
  border-radius: 15px;
  padding: 15px;
}
.tile:not(:last-child){
  margin-bottom: 25px;
}
.tile h1{
  margin: 5px 0;
}
.tile.transparent{
  background: transparent;
  box-shadow: none;
}
.tile.first{
  width: 30%;
}
.tile.second{
  width: 55%;
}
.tile.third{
  width: 95%;
}