/* Zmienne */

:root {
  --background-primary: #f1f4fc;
  --background-secondary: #fff;

  --color-primary: #000;
  --color-secondary: #fff;
  --color-success: #41f1b6;
  --color-danger: #ff7782;
  --color-warning: #ffbb55;

  --accent-primary: #08e1ae;

  --gradient: linear-gradient(45deg, rgba(8, 225, 174, 1) 30%, rgba(152, 222, 91, 1) 100%);

  --card-border-radius: 25px;
  --radius-primary: 5px;
  --radius-secondary: 15px;
  --radius-tertiary: 20px;

  --box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background-primary);
  user-select: none;
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
}

svg {
  display: block;
  width: 22px;
}

h1 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 12px;
}

small {
  font-size: 11px;
}

img.profilePhoto {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  margin: 0 5px;
  background: var(--gradient);
  border-radius: var(--radius-primary);
  color: var(--color-secondary);
  box-shadow: var(--box-shadow);
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  transition: .3s;
}

button:hover {
  opacity: .7;
}

button.box {
  width: 40px;
  height: 40px;
  padding: 15px;
}

.textThin {
  color: var(--color-primary);
  opacity: .5;
}

.success {
  color: var(--color-success);
}

.danger {
  color: var(--color-danger);
}

.warning {
  color: var(--color-warning);
}


.appContainer {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 25px 100px 25px 25px;
  margin: 0 auto;
  gap: 25px;
  grid-template-columns: 225px auto;
}

.navbar {
  height: 100%;
  background: var(--gradient);
  color: var(--color-secondary);
  border-radius: var(--radius-secondary);
  box-shadow: var(--box-shadow);
}

.navbar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 50px;
}

.navbar .close {
  display: none;
}

.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 86vh;
  position: relative;
  padding-top: 100px;
}

.navbar .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-secondary);
  transition: .3s;
}

.navbar .nav a:hover:not(.active) {
  opacity: .7;
}

.navbar .nav a:not(:last-child) {
  margin-bottom: 10px;
}

.navbar .nav a.active {
  background: var(--background-secondary);
  border-radius: 10px;
}

.navbar .nav a.active li {
  font-weight: 800;
  color: var(--accent-primary);
  /* background: var(--background-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.navbar .nav a.active svg {
  color: var(--accent-primary);
}

.navbar .nav li {
  display: flex;
  align-items: center;
  gap: 16px;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0 10px;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-bottom: 10px;
}

.header .collumn {
  flex-direction: column;
  align-items: flex-start;
}

.header .row {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0 5px;
  gap: 15px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  box-shadow: var(--box-shadow);
}

.searchBar svg {
  opacity: .5;
}

.cardRow {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow-y: scroll;
}

.cardRow.dashboard {
  grid-template-columns: auto auto 350px;
}

.card {
  position: relative;
  background: var(--background-secondary);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card .title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.card .pin{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  height: 20px;
  opacity: .3;
  transition: .3s ease;
}
.card .pin:hover{
  opacity: .5;
}
.card .pin.pinned{
  opacity: .7;
}

.card .title::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  margin-right: 10px;
  background: var(--gradient);
}

.card .avatarRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}

.card.online {
  height: 150px !important;
}

ol.duties {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 10px 0 0 15px;
}

ol.duties li {
  font-size: 18px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ol.duties li:not(:last-child) {
  margin-bottom: 5px;
}

ol.duties li input[type="checkbox"] {
  margin-right: 20px;
  scale: 1.5;
  accent-color: var(--accent-primary);
  color: white;
}

ol.duties li input[type="checkbox"]:checked~span {
  text-decoration: line-through;
}